@page "/"
@using BlazorIntegration.Store;
@using Nook.AspNetCore;

@inherits ComponentUsing<CounterStore>

@{var state = Store.GetState();}

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>
<p role="status">Current count: @state.Counter</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        Store.Increment();
    }
}
